# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
df = pd.read_csv("Output/Weather Data.csv")

df

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Datetime
0,São Filipe,14.8961,-24.4956,79.63,68,13,8.12,CV,-3600
1,Kosa,59.9445,54.9977,34.29,94,63,5.35,RU,18000
2,Atuona,-9.8000,-139.0333,78.35,77,13,17.65,PF,-34200
3,Vilcún,-38.6500,-72.2333,48.94,87,93,1.72,CL,-10800
4,Rikitea,-23.1203,-134.9692,75.16,79,90,18.61,PF,-32400
...,...,...,...,...,...,...,...,...,...
554,Hammerfest,70.6634,23.6821,30.65,100,75,5.75,NO,7200
555,Siocon,7.7061,122.1353,79.18,85,100,2.73,PH,28800
556,Marzuq,14.4000,46.4667,68.02,34,20,2.13,YE,10800
557,Puerto Baquerizo Moreno,-0.9000,-89.6000,69.01,86,95,10.98,EC,-21600
558,Waingapu,-9.6567,120.2641,82.35,69,43,1.79,ID,28800

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Google developer API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [8]:
# Store latitude and longitude in locations
coordinates=[]

for index, row in df.iterrows():
    coordinates.append((row['Latitude'],row['Longitude']))
    
coordinates

[(14.8961, -24.4956),
 (59.9445, 54.9977),
 (-9.8, -139.0333),
 (-38.65, -72.2333),
 (-23.1203, -134.9692),
 (-46.1927, 168.8643),
 (60.7333, 77.5889),
 (-33.9258, 18.4232),
 (61.9353, 5.1136),
 (47.6666, -52.7314),
 (29.15, 78.2667),
 (50.6789, 156.125),
 (-33.5906, 26.891),
 (19.7297, -155.09),
 (-53.15, -70.9167),
 (-20.5167, 57.5167),
 (42.5357, -113.7928),
 (63.7506, -68.5145),
 (55.7992, -4.3929),
 (41.3712, -73.414),
 (69.4541, -133.0374),
 (77.484, -69.3632),
 (-33.65, 115.3333),
 (48.8264, 58.1442),
 (11.2842, 49.1816),
 (64.2539, -15.2082),
 (20.5022, -10.0711),
 (64.3833, -173.3),
 (-3.9014, -38.3911),
 (25.5198, 90.2201),
 (-46.6, 168.3333),
 (22.8909, -109.9124),
 (63.05, 179.3167),
 (-54.8, -68.3),
 (53.7453, 62.0708),
 (68.0546, 166.4372),
 (5.4112, 100.3354),
 (12.6, 37.4667),
 (6.9833, 35.5833),
 (42.6001, -73.9662),
 (71.2906, -156.7887),
 (-34.4187, 19.2345),
 (28.5004, -13.8627),
 (-28.7667, 114.6),
 (32.6667, -17.1),
 (56.9156, 53.3221),
 (62.0989, 126.6992),
 (-0.6, 73.0833),
 (43.0645, 44.7417),
 (-35.1667, 173.1667),
 (69.4865, 88.3972),
 (28.017, -97.5169),
 (52.747, 87.7545),
 (24.5712, 73.6918),
 (37.5683, 126.9778),
 (62.456, -114.3525),
 (-8.9266, 125.4092),
 (2.0371, 45.3438),
 (71.9667, 102.5),
 (29.9697, 40.2064),
 (54.1178, 36.3788),
 (-20.4081, 57.7),
 (9.4942, 50.8122),
 (-37.6167, -73.65),
 (-10.4544, 161.9205),
 (42.097, -79.2353),
 (27.9769, -114.0611),
 (34.6667, 138.95),
 (-30.1811, -50.2056),
 (70.4692, -68.5914),
 (20.1986, 1.0114),
 (59.7035, 30.7861),
 (69.3143, 16.1194),
 (7.7669, -72.225),
 (-33.0153, 27.9116),
 (26.1, -106.9667),
 (63.7256, 8.834),
 (-21.3585, 55.7679),
 (26.5412, -77.0636),
 (22.0752, -159.319),
 (8.4833, 76.9167),
 (41.1231, 80.2644),
 (-42.7826, 147.0587),
 (33.194, -82.5271),
 (50.2334, -63.5986),
 (-26.6481, 15.1594),
 (70.0167, 135.6),
 (-0.9833, -77.8167),
 (30.5335, -92.0815),
 (3.0707, 172.7902),
 (65.6145, -37.6368),
 (-0.7167, -48.5233),
 (-33.918, 25.5701),
 (-2.9248, -39.9167),
 (73.5069, 80.5464),
 (6.7533, -11.3686),
 (70.3705, 31.1107),
 (-19.0595, -169.9187),
 (54.7169, -113.2854),
 (-46.2817, 169.8464),
 (44.0625, -103.1463),
 (21.4612, -71.1419),
 (9.6, 8.3833),
 (40.626, 14.3744),
 (-42.8794, 147.3294),
 (38.5167, -28.7),
 (49.5776, 111.9753),
 (-32.7167, 152.15),
 (71.0357, 27.8492),
 (27.0377, 14.4283),
 (30.3322, -81.6556),
 (42.7372, 124.7222),
 (-21.2, -175.2),
 (27.3125, 105.2942),
 (34.4506, 40.9171),
 (52.1677, 22.2901),
 (10.9995, 122.6711),
 (-22.4333, -151.3333),
 (-22.9575, 14.5053),
 (6.6221, 73.07),
 (-34.4833, -54.3333),
 (69.2167, -51.1),
 (17.699, 103.2596),
 (11.2833, -15.8333),
 (71.6872, 128.8694),
 (7.5264, -12.505),
 (25.2088, 64.6357),
 (-35.1167, -71.2833),
 (59.3347, 26.145),
 (52.1058, -101.2676),
 (-13.7, -76.2167),
 (68.75, 161.3),
 (-38.0023, -57.5575),
 (32.0339, 51.8794),
 (26.7693, 31.5021),
 (18.3851, 42.4509),
 (46.4154, 3.9054),
 (62.5833, 6.1333),
 (-20.3428, 57.7575),
 (12.1791, 125.5072),
 (66.7697, 123.3711),
 (39.1502, -123.2078),
 (58.2093, -6.3865),
 (-19.9842, 57.6142),
 (59.3833, 143.3),
 (43.2128, -75.4557),
 (-7.8447, -79.1469),
 (-21.2078, -159.775),
 (44.8, 27.3833),
 (60.1545, -1.1494),
 (-0.7393, -90.3518),
 (68.2191, -135.0107),
 (38.2756, -3.6153),
 (62.1406, 65.3936),
 (-0.7818, 29.7544),
 (42.439, -123.3284),
 (61.5071, 38.9456),
 (-31.95, 141.4333),
 (-0.9492, 100.3543),
 (45.7625, 106.2708),
 (69.3833, 178.4167),
 (27.1467, 57.0801),
 (38.7333, -27.0667),
 (-20.4597, -66.825),
 (39.5009, -89.7679),
 (49.2, 119.7),
 (57.79, -152.4072),
 (5.8808, -10.0467),
 (-42.7167, 170.9667),
 (52.2667, 79.1667),
 (-8.145, 159.5921),
 (-6.5339, -64.3831),
 (8.1667, -12.4333),
 (18.6853, 12.9164),
 (-17.7333, -149.15),
 (-6.2111, -40.6944),
 (-28.4492, -52.2),
 (-13.5091, 28.155),
 (10.7, 105.1167),
 (61.8642, 25.19),
 (39.2446, 55.5154),
 (-22.9965, 27.6678),
 (-33.6971, -53.4616),
 (54.5392, 17.7501),
 (-11.4847, -37.9328),
 (-24.7911, -50.0119),
 (-22.6667, 167.4833),
 (20.785, -156.4656),
 (59.6289, 112.7406),
 (-17.5694, -52.5511),
 (21.3906, -158.1547),
 (-7.7479, 112.0132),
 (-9.7667, 37.9333),
 (-34.5322, 20.0403),
 (69.7008, 170.3133),
 (62.2266, -6.589),
 (66.1451, -65.7125),
 (68.8193, -51.1922),
 (34.6391, -120.4579),
 (-34.0033, 24.7314),
 (-16.5167, -151.75),
 (31.61, 34.7642),
 (13.2167, -59.5167),
 (14.2, 24.6667),
 (64.5635, 39.8302),
 (-12.3833, 16.9333),
 (17.8815, -76.4093),
 (61.5996, 5.0328),
 (53.6072, 92.8667),
 (-34.0527, 23.3716),
 (35.6003, 103.2064),
 (45.1667, 10.7833),
 (35.7333, 140.8333),
 (58.3019, -134.4197),
 (-8.7676, 160.7034),
 (9.1769, 105.15),
 (3.1667, 113.0333),
 (36.2081, -86.2911),
 (53.3842, 10.1114),
 (1.487, 124.8455),
 (51.1333, 93.6),
 (-18.0607, 13.84),
 (4.1748, 73.5089),
 (50.0334, -66.8654),
 (42.6167, 25.4),
 (39.8885, 4.2658),
 (-7.0167, 113.8667),
 (-37.8333, 140.7667),
 (-21.1306, -42.3664),
 (40.5982, -124.1573),
 (-24.8667, 113.6333),
 (-36.7167, -73.1167),
 (71.9167, 114.0833),
 (10.3854, -9.3057),
 (-30.1606, -53.5653),
 (11.7751, -72.4445),
 (-29.9533, -71.3436),
 (-25.2986, 152.8535),
 (-11.0964, -77.6139),
 (64.808, 25.9931),
 (62.1444, 117.6319),
 (35.3029, 37.1841),
 (-16.4833, -151.75),
 (-20.0064, 57.6608),
 (8.3511, 100.202),
 (-25.3333, -57.5333),
 (-12.2333, 136.7667),
 (0.8102, 24.4336),
 (32.3811, 48.4058),
 (35.2937, -2.9383),
 (63.8424, -22.4338),
 (48.3333, 1.0),
 (-12.9067, 15.2533),
 (-3.8004, 102.2655),
 (14.8333, 78.4),
 (3.0201, 30.9111),
 (-5.1206, -60.3797),
 (64.75, 177.4833),
 (8.6698, 15.3813),
 (50.4111, 80.2275),
 (72.7868, -56.1549),
 (65.282, -126.8329),
 (32.6881, 128.8419),
 (33.0833, -16.3333),
 (55.7028, 37.3822),
 (-6.2167, 155.6333),
 (-12.0432, -77.0282),
 (51.226, -58.6502),
 (37.7203, 30.2908),
 (-7.5061, -63.0208),
 (42.1584, -72.3287),
 (-37.5662, 143.8496),
 (-15.1961, 12.1522),
 (47.0667, 51.8667),
 (24.1447, 67.4497),
 (-9.8756, -56.0861),
 (66.7131, 27.4306),
 (66.5606, 67.7975),
 (15.7432, -96.4661),
 (40.4272, 71.7189),
 (64.1835, -51.7216),
 (41.0002, -115.5012),
 (-25.2406, 130.9889),
 (30.3088, -89.33),
 (5.1367, -5.0242),
 (-33.1333, 148.1833),
 (54.3161, -130.3201),
 (-33.8667, 121.9),
 (28.6585, -17.9182),
 (-14.6585, 17.691),
 (62.6667, 135.6),
 (42.3339, 142.3669),
 (36.6177, -121.9166),
 (17.0151, 54.0924),
 (-45.4167, 167.7167),
 (31.8111, 121.655),
 (-35.35, 150.4667),
 (11.0333, -63.8628),
 (-34.0363, 23.0471),
 (-22.9661, -42.0278),
 (60.3964, -1.353),
 (40.4163, -120.653),
 (14.7328, -6.1219),
 (22.385, -80.8508),
 (60.5544, -151.2583),
 (-21.3393, 55.4781),
 (39.1834, -84.5333),
 (37.9795, 23.7162),
 (14.5452, -60.8388),
 (70.6333, 147.9167),
 (49.1447, 56.4872),
 (35.174, -2.9287),
 (43.8608, 20.1381),
 (13.5828, -2.4216),
 (50.7587, 59.5386),
 (52.6833, 8.8),
 (41.7597, 86.1469),
 (47.9714, 80.4392),
 (57.0531, -135.33),
 (-12.7406, -60.1458),
 (78.2186, 15.6401),
 (67.8006, 130.4114),
 (67.6803, 53.1512),
 (-28.6606, -56.0044),
 (7.0069, -7.475),
 (-4.2761, -55.9836),
 (20.5169, -13.0499),
 (24.8333, -104.8333),
 (-20.7333, 139.5),
 (62.7161, 129.6658),
 (51.9556, 66.4042),
 (46.7379, -119.9028),
 (26.5881, 127.9761),
 (26.1842, 127.7558),
 (23.2167, -106.4167),
 (35.1333, 140.3),
 (32.3502, -85.1999),
 (59.0556, 80.8572),
 (-32.25, 148.6167),
 (-5.1833, -68.9),
 (13.0833, 109.3),
 (41.3194, 61.0742),
 (-2.0226, 147.2712),
 (22.2855, 114.1577),
 (-43.249, -65.3051),
 (49.4983, 11.7517),
 (27.7333, 112.5333),
 (35.405, 116.5814),
 (42.6, -84.3833),
 (4.7084, 6.7931),
 (65.8167, 87.9833),
 (51.3813, 1.3862),
 (12.4833, -13.3),
 (42.7762, -9.0603),
 (28.9889, -80.9023),
 (18.7333, -103.6833),
 (39.3558, -9.3811),
 (31.7566, 13.9942),
 (-7.3817, 108.2082),
 (-5.6667, 132.75),
 (65.9939, 57.5281),
 (42.587, -82.9199),
 (59.5833, 151.2833),
 (54.0524, -128.6534),
 (-34.6534, -58.6198),
 (42.2506, -75.833),
 (55.7435, -97.8558),
 (10.5669, 72.642),
 (64.8569, -147.8028),
 (1.6381, 18.0667),
 (50.6996, -127.4199),
 (66.0449, -17.3389),
 (-0.4819, 15.8999),
 (40.5614, 65.6886),
 (60.1247, 64.7758),
 (8.0, 98.25),
 (70.8578, 29.0864),
 (-4.9408, 122.5276),
 (42.4165, -122.8345),
 (41.2835, -70.0995),
 (4.8845, -1.7554),
 (-15.7667, 128.7333),
 (27.6667, -105.1667),
 (66.8333, 70.8333),
 (38.7217, 139.8217),
 (-9.5972, -35.9567),
 (16.2, 74.75),
 (-17.7125, -39.2481),
 (28.2211, 61.2158),
 (42.0, 8.9167),
 (42.7297, 133.0839),
 (32.9333, 132.7333),
 (20.931, -17.0347),
 (5.4802, -53.2011),
 (30.4833, -115.95),
 (-38.3833, 142.4833),
 (51.5877, -2.9984),
 (-8.9833, -77.3),
 (-45.5752, -72.0662),
 (6.1241, 81.1185),
 (30.6485, -91.1565),
 (50.2834, -107.8014),
 (-33.0117, 17.9442),
 (13.0667, -3.0667),
 (43.65, 51.2),
 (-5.5183, -47.4611),
 (38.4092, 112.7333),
 (-43.5333, 172.6333),
 (38.1401, -7.4486),
 (40.1629, -8.3327),
 (-46.1333, 167.6833),
 (30.15, 62.6),
 (46.6806, 113.2792),
 (47.65, 19.0167),
 (57.4289, 15.0776),
 (20.8947, -156.47),
 (61.67, 96.37),
 (70.9821, 25.9704),
 (-9.8607, 124.284),
 (39.0951, 33.0799),
 (1.3292, 172.9752),
 (64.8378, -147.7164),
 (4.75, 115.0),
 (-21.6403, -41.0511),
 (27.05, 74.7167),
 (18.7369, 7.3853),
 (11.75, -13.2),
 (68.5333, 146.4167),
 (-38.1833, 144.4667),
 (-0.5273, 34.4571),
 (-0.6136, -47.3561),
 (-1.2667, 104.0833),
 (9.4092, 45.064),
 (-2.8856, -40.12),
 (7.6244, -11.8332),
 (8.5, 4.55),
 (33.7333, 135.9833),
 (-25.4, -70.4833),
 (-32.5833, 151.7833),
 (-20.3297, -40.2925),
 (37.9281, 102.6414),
 (5.8757, 121.2915),
 (30.634, 117.8517),
 (43.4065, -124.2243),
 (-23.3967, -45.8839),
 (36.3728, -94.2088),
 (42.5667, 1.4833),
 (-10.1256, -36.1756),
 (53.5739, 142.9478),
 (60.4667, 166.1),
 (37.0778, 41.2178),
 (5.3302, 103.1408),
 (-2.1042, -56.4869),
 (70.0311, 20.9714),
 (7.4167, 81.8167),
 (-8.7619, -63.9039),
 (4.9533, -77.366),
 (45.6333, 85.1833),
 (50.7214, 136.6319),
 (46.4856, 135.8833),
 (1.7427, 98.7792),
 (4.7263, -52.3274),
 (-20.3167, 118.5667),
 (46.8083, -100.7837),
 (-2.6741, 141.3028),
 (37.1882, -3.6067),
 (23.1667, -97.95),
 (55.1001, -105.2842),
 (41.3, -96.167),
 (-3.5797, -59.1306),
 (36.5438, 31.9998),
 (1.3038, 124.9112),
 (43.7501, -81.7165),
 (-13.8833, 167.55),
 (43.3665, -124.2179),
 (-32.25, 115.7667),
 (4.9333, -52.3333),
 (-10.6167, 150.6667),
 (45.2333, 147.8833),
 (31.4583, 131.2333),
 (46.9233, -98.0032),
 (64.5667, 143.2),
 (-8.4667, 140.3333),
 (43.6603, 17.7617),
 (5.3833, -52.95),
 (48.4411, 10.2693),
 (39.05, -27.9833),
 (28.3667, 129.4833),
 (58.8053, -122.7002),
 (6.8833, 73.1),
 (53.5237, -2.4935),
 (49.6167, 127.9833),
 (59.2353, 163.0719),
 (5.8933, 95.3214),
 (42.4167, -4.5),
 (-23.0586, -51.0364),
 (37.6138, -122.4869),
 (60.3778, 92.6267),
 (-29.6643, 17.8865),
 (61.9875, 5.1352),
 (44.9833, 26.2333),
 (-35.6167, 174.5),
 (11.0297, 20.2827),
 (26.326, 43.975),
 (29.1614, 16.139),
 (45.5234, -122.6762),
 (-2.5744, 150.7967),
 (43.1548, -77.6156),
 (-17.8786, 36.8883),
 (-3.3667, 135.4833),
 (35.2442, 129.2139),
 (31.6128, 55.4107),
 (8.7944, -74.1658),
 (46.8739, -96.7676),
 (5.3848, 95.9609),
 (31.4451, 12.9801),
 (65.8522, 44.24),
 (54.549, -3.5841),
 (49.7834, -74.8492),
 (-4.8769, 29.6267),
 (62.6012, 29.7632),
 (16.7833, 94.7333),
 (6.4926, 17.4552),
 (-16.7, -151.0167),
 (-20.1, 146.2667),
 (22.8167, 108.3167),
 (68.3751, 17.5988),
 (-3.4067, 29.1458),
 (-17.9333, 19.7667),
 (7.0419, 134.2556),
 (52.5369, 62.4936),
 (10.3999, 5.4695),
 (27.2025, 60.6848),
 (49.2833, 120.7333),
 (61.0064, 36.4481),
 (29.65, 79.4167),
 (5.718, 19.0739),
 (-7.3333, -75.0167),
 (24.5167, 103.7667),
 (39.4735, -118.7774),
 (43.3236, 145.575),
 (41.4225, 46.9242),
 (43.801, 87.6005),
 (5.9485, 80.5353),
 (4.1363, 96.1285),
 (29.2167, 79.5167),
 (65.5833, -171.0),
 (55.5258, 101.0536),
 (42.3496, 14.4039),
 (22.7886, 100.9748),
 (14.0453, 124.1694),
 (-10.0681, -78.1522),
 (-31.6333, -60.7),
 (51.0933, 128.3786),
 (70.6634, 23.6821),
 (7.7061, 122.1353),
 (14.4, 46.4667),
 (-0.9, -89.6),
 (-9.6567, 120.2641)]

In [9]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout)

In [10]:
# Assign the marker layer to a variable
markers = gmaps.heatmap_layer(coordinates, weights=df['Humidity'],point_radius=15)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
tempmin = 70
tempmax = 80

df_temp_filt = df.loc[(df["Max Temperature"]<tempmax)&(df["Max Temperature"]>tempmin)]
df_temp_filt

windspeedmax = 10

df_windspeed_filt = df_temp_filt.loc[df_temp_filt['Wind Speed']<windspeedmax]
df_windspeed_filt

df_final = df_windspeed_filt.loc[df_windspeed_filt['Cloudiness'] == 0]
df_final

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Datetime
248,Dezful,32.3811,48.4058,74.39,20,0,4.88,IR,12600
293,Salalah,17.0151,54.0924,73.49,64,0,5.75,OM,14400
326,Atar,20.5169,-13.0499,79.54,17,0,7.09,MR,0
382,Camargo,27.6667,-105.1667,79.95,18,0,3.53,MX,-21600

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
import requests
import json
import pprint

hotel_df = df_final
hotel_df

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Datetime
248,Dezful,32.3811,48.4058,74.39,20,0,4.88,IR,12600
293,Salalah,17.0151,54.0924,73.49,64,0,5.75,OM,14400
326,Atar,20.5169,-13.0499,79.54,17,0,7.09,MR,0
382,Camargo,27.6667,-105.1667,79.95,18,0,3.53,MX,-21600

In [14]:
hotel_list = []
hlat=[]
hlng=[]

for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']

    # geocoordinates
    target_coordinates = f"{lat}, {lng}"
    target_search = "Hotel"
    target_radius = 5000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key}
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    try:
        # run a request using our params dictionary
        response = requests.get(base_url, params=params).json()
        hotelname = response["results"][0]["name"]
        CityName = row['City Name']
        print(hotelname)
        hotel_list.append(hotelname)
        hlat.append(response["results"][0]["geometry"]["location"]["lat"])
        hlng.append(response["results"][0]["geometry"]["location"]["lng"])

    except IndexError:
        print(f"No Hotel within 5km of this city")
        hotel_list.append("No Hotel within 5km of this city")
        hlat.append("")
        hlng.append("")

Dezful Tourism Hotel
Salalah Gardens Hotel
Auberge et Camping Inimi
Hotel Santa Fe

In [15]:
# Store Dataframe under a new name and reset index
hotel_reset = hotel_df
hotel_reset = hotel_reset.reset_index()
hotel_reset

,index,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Datetime
0,248,Dezful,32.3811,48.4058,74.39,20,0,4.88,IR,12600
1,293,Salalah,17.0151,54.0924,73.49,64,0,5.75,OM,14400
2,326,Atar,20.5169,-13.0499,79.54,17,0,7.09,MR,0
3,382,Camargo,27.6667,-105.1667,79.95,18,0,3.53,MX,-21600

In [16]:
for x in range (0,len(hotel_reset['City Name'])):
    hotel_reset.loc[[x],["Hotel Name"]] = hotel_list[x]
    hotel_reset.loc[[x],["Hotel Lat"]] = hlat[x]
    hotel_reset.loc[[x],["Hotel Lng"]] = hlng[x]
hotel_reset=hotel_reset.rename(columns={'Latitude':'Lat','Longitude':'Lng',"City Name":"City"})
hotel_reset

,index,City,Lat,Lng,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Datetime,Hotel Name,Hotel Lat,Hotel Lng
0,248,Dezful,32.3811,48.4058,74.39,20,0,4.88,IR,12600,Dezful Tourism Hotel,32.390944,48.383530
1,293,Salalah,17.0151,54.0924,73.49,64,0,5.75,OM,14400,Salalah Gardens Hotel,17.022848,54.064693
2,326,Atar,20.5169,-13.0499,79.54,17,0,7.09,MR,0,Auberge et Camping Inimi,20.501348,-13.060137
3,382,Camargo,27.6667,-105.1667,79.95,18,0,3.53,MX,-21600,Hotel Santa Fe,27.670087,-105.156801

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_reset.iterrows()]
locations = hotel_reset[["Lat", "Lng"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…